<ion-header>
  <ion-toolbar>
    <ion-title> Dailymation Feed Page </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Search" [(ngModel)]="Topic"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="search()">Search</ion-button>

        <ion-card mode="ios" *ngFor="let item of searchData">
          <ion-card-header (click)="videoUrlHolder(item)">
            <img [src]="item.thumbnail_480_url" />
          </ion-card-header>
          <ion-card-content>
            <h2 class="textOverflow">{{item.title}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
